#bannerImageContainer {
  margin-left: 20px;
  margin-right: 20px;
}

#bannerImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.55; // background: linear-gradient(90deg, var(--ce-data-series-1), var(--ce-data-series-2), var(--ce-data-series-3), var(--ce-data-series-4), var(--ce-data-series-5), var(--ce-data-series-6), var(--ce-data-series-7), var(--ce-data-series-8));
  // background-blend-mode: initial;
  // mix-blend-mode: difference;
  // border: 5px transparent solid;
  border-radius: var(--ce-radius-15); // mix-blend-mode: saturation;
  // padding-top: 20px;
  // padding-bottom: 20px;
  // padding-left: 20px;
  // padding-right: 20px;
}
